# Editor configuration, see http://editorconfig.orgroot = true[*]charset = utf-8indent_style = spaceindent_size = 2insert_final_newline = truetrim_trailing_whitespace = true[*.md]max_line_length = offtrim_trailing_whitespace = false
