<div class="dashboard-widget chart-widget mat-elevation-z2" [style.background]="bgColor">
  <div class="title-container" [style.color]="textColor" fxLayout="row" fxLayoutAlign="start center">
      <span fxLayout="column" style="margin-right:5px;">
          <i class="fa fa-th-large" aria-hidden="true"></i>
       </span>
    <div fxLayout="column">
      <span class="title">{{ widgetTitle }}</span>
    </div>
    <span fxFlex></span>
    <button md-icon-button [mdMenuTriggerFor]="options">
        <md-icon class="icon">settings</md-icon>
    </button>
  </div>
  <ms-progress-chart [progress]="data.currentValue" style="height: 33vh;"></ms-progress-chart>
  <div class="chart-footer" fxLayout="row">
    <div class="border-right text-center" fxFlex fxLayout="column">
      <span class="title">{{data.down}}</span>
      <span class="extra">Down</span>
    </div>
    <div class="border-right text-center" fxFlex fxLayout="column">
      <span class="title">{{data.paint}}</span>
      <span class="extra">Paint</span>
    </div>
    <div class="text-center" fxFlex fxLayout="column">
      <span class="title">{{data.storePcs}}</span>
      <span class="extra">Store Pc's</span>
    </div>
  </div>
  <ms-loading-overlay [isLoading]="isLoading"></ms-loading-overlay>
</div>

<md-menu #options="mdMenu">
  <button md-menu-item>
    <md-icon> settings </md-icon>
    <span> Settings </span>
  </button>
  <button md-menu-item disabled>
    <md-icon> more </md-icon>
    <span> More Info </span>
  </button>
  <button md-menu-item>
    <md-icon> remove_circle </md-icon>
    <span> Remove Widget </span>
  </button>
</md-menu>