  <div class="chart-container">
    <div class="progress-wrapper">
      <div class="current" [ngStyle]="getOverlayStyle()">
        {{ progress }}%
        <small>
          +3.2% weekly
        </small>
      </div>
      <round-progress [current]="progress" [max]="max" [stroke]="stroke" [semicircle]="semicircle" [rounded]="rounded" [responsive]="responsive" [clockwise]="clockwise" [color]="gradient ? 'url(#gradient)' : color" [background]="background" [duration]="duration"
        [animation]="animation" [animationDelay]="animationDelay"></round-progress>
    </div>
  </div>